<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div class="main">
    <section class="signup">
        <div class="container m-5" >
            <div class="signup-content">
                <!-- Actualiza la acción para apuntar al endpoint '/register' -->
                <form th:action="@{/register}" th:object="${usuario}" method="post" id="signup-form" class="signup-form">
                    <h2 class="form-title">Create an account</h2>
                    <!-- Asegúrate de que los campos coincidan con tu clase UsuarioDTO -->
                    <div class="form-group">
                        <input type="text" class="form-input" th:field="*{nombre}" placeholder="Username" required/>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-input" th:field="*{correoElectronico}" placeholder="Email" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" th:field="*{contrasena}" placeholder="Password" required/>
                    </div>
                    <!-- Este campo debe ser manejado en el frontend o como parte de la lógica de validación en el servidor -->
                    <div class="form-group">
                        <input type="password" class="form-input" name="confirmPassword" placeholder="Confirm password" required/>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                    </div>
                </form>
                <p class="loginhere">
                    Have already an account? <a th:href="@{/login}" class="loginhere-link">Login here</a>
                </p>
            </div>
            <div th:if="${success}" th:text="${success}" class="alert alert-success"></div>
            <div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>

        </div>
    </section>
</div>

<script th:src="@{/js/signup.js}"></script>
</body>
</html>
