<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{inscripcione.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{inscripcione.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/inscripciones}" class="btn btn-secondary">[[#{inscripcione.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('inscripcione')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='inscripcione', field='inscripcionId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='inscripcione', field='fechaInscripcion', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='inscripcione', field='estado')}" />
                <div th:replace="~{fragments/forms::inputRow(object='inscripcione', field='usuario', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='inscripcione', field='evento', type='select')}" />
                <input type="submit" th:value="#{inscripcione.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
