<!-- eventoData.html -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Detalles del Evento</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link th:href="@{/css/verMas.css}" rel="stylesheet" />
    <!-- Agregar enlaces a CSS y otros recursos según sea necesario -->

</head>
<body>
<div layout:fragment="content">
    <div class="evento-container">
        <h1 th:text="${evento.nombre}" class="evento-titulo">Nombre del Evento</h1>
        <p th:text="${evento.descripcion}" class="evento-descripcion">Descripción del Evento</p>
        <div class="evento-informacion">
            <p>Ubicación: <span th:text="${evento.ubicacion}"></span></p>
            <p>Inicio: <span th:text="${evento.fechaInicio}"></span></p>
            <p>Fin: <span th:text="${evento.fechaFin}"></span></p>
            <p>Es gratis: <span th:text="${evento.esGratis}"></span></p>
            <p>Es en exterior: <span th:text="${evento.esExterior}"></span></p>
        </div>
        <a th:if="${evento.organizador.usuarioId != user.usuarioId}"
           th:href="@{'/inscripciones/add/' + ${evento.eventoId}}"
           class="btn btn-primary">Inscribirse</a>

        <!-- Botón para el organizador del evento -->
        <a th:if="${evento.organizador.usuarioId == user.usuarioId}"
           th:href="@{'/verParticipantes/' + ${evento.eventoId}}"
           class="btn btn-secondary">Ver Participantes</a>
    </div>
</div>
</body>
</html>
