<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>[[#{home.index.headline}]]</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link th:href="@{/css/index.css}" rel="stylesheet" />

</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">Eventos</h1>
        <div>
            <a th:href="@{/eventos/add}" class="btn btn-primary ms-2">Crear Nuevo Evento</a>
        </div>
    </div>
    <div th:if="${eventos.empty}">No hay eventos disponibles.</div>
    <div th:if="${!eventos.empty}" class="row">
        <!-- Itera sobre cada evento y crea una tarjeta para él -->
        <div th:each="evento : ${eventos}" class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${evento.nombre}">Nombre del evento</h5>
                    <p class="descripcion" th:text="${evento.descripcion}">Descripción del evento</p>
                    <p class="ubicacion">
                        <a href="#" th:href="@{'https://www.google.com/maps/search/?api=1&query=' + ${evento.ubicacion}}" target="_blank" th:text="${evento.ubicacion}">Lugar</a>
                    </p>
                    <p class="fecha" th:text="${'Inicio: ' + evento.fechaInicio}">Fecha de inicio</p>
                    <p class="fecha" th:text="${'Fin: ' + evento.fechaFin}">Fecha de fin</p>
                    <!-- Botón Ver más -->
                    <a th:href="@{'/index/vermas/' + ${evento.eventoId}}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
</div>
</body>
</html>
