<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Bienvenido, <span th:text="${user.nombre}">Nombre del Usuario</span>!</h1>
        <h2>Perfil de Usuario</h2>
        <p>Nombre: <span th:text="${user.nombre}"></span></p>
        <p>Correo Electrónico: <span th:text="${user.correoElectronico}"></span></p>

    </div>
</body>
</html>