<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{fotosEvento.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{fotosEvento.add.headline}]]</h1>
                <div>
                    <a th:href="@{/fotosEventos}" class="btn btn-secondary">[[#{fotosEvento.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('fotosEvento')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='fotosEvento', field='urlfoto', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='fotosEvento', field='evento', required=true, type='select')}" />
                <input type="submit" th:value="#{fotosEvento.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
