<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{fotosEvento.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{fotosEvento.list.headline}]]</h1>
                <div>
                    <a th:href="@{/fotosEventos/add}" class="btn btn-primary ms-2">[[#{fotosEvento.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${fotosEventoes.empty}">[[#{fotosEvento.list.empty}]]</div>
            <div th:if="${!fotosEventoes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{fotosEvento.fotoId.label}]]</th>
                            <th scope="col">[[#{fotosEvento.urlfoto.label}]]</th>
                            <th scope="col">[[#{fotosEvento.evento.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="fotosEvento : ${fotosEventoes}">
                            <td>[[${fotosEvento.fotoId}]]</td>
                            <td>[[${fotosEvento.urlfoto}]]</td>
                            <td>[[${fotosEvento.evento}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/fotosEventos/edit/{fotoId}(fotoId=${fotosEvento.fotoId})}" class="btn btn-sm btn-secondary">[[#{fotosEvento.list.edit}]]</a>
                                    <form th:action="@{/fotosEventos/delete/{fotoId}(fotoId=${fotosEvento.fotoId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{fotosEvento.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
