<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{inscripcione.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{inscripcione.add.headline}]]</h1>
                <div>
                    <a th:href="@{/index}" class="btn btn-secondary">[[#{inscripcione.add.back}]]</a>

                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('inscripcione')}" />
            <form th:action="@{/inscripciones/add}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='inscripcione', field='fechaInscripcion', required=true, inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='inscripcione', field='estado', required=true)}" />
                <input type="hidden" name="evento" th:value="${evento.eventoId}">
                <input type="hidden" name="usuario" value="0">
                <input type="submit" th:value="#{inscripcione.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
