<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="evento(diseñoEvento)">
    <div class="card mb-3">
        <h3 class="card-header" th:text="${diseñoEvento.nombre}">Nombre del Evento</h3>
        <div class="card-body">
            <p class="card-text" th:text="${diseñoEvento.descripcion}">Descripción extensa del evento...</p>
            <p class="card-text">
                <strong>Fecha:</strong> <span th:text="${#temporals.format(diseñoEvento.fechaInicio, 'dd/MM/yyyy')}">DD/MM/AAAA</span>
            </p>
            <p class="card-text">
                <strong>Lugar:</strong> <span th:text="${diseñoEvento.ubicacion}">Ubicación del evento</span>
            </p>
            <p class="card-text">
                <strong>Inscripción:</strong> <span th:text="${diseñoEvento.esGratis ? 'Gratis' : 'Consultar'}">Información de inscripción</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
