<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{evento.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content" th:fragment="list(eventoes)">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{evento.list.headline}]]</h1>
                <div>
                    <a th:href="@{/eventos/add}" class="btn btn-primary ms-2">[[#{evento.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${eventoes.empty}">[[#{evento.list.empty}]]</div>
            <div th:if="${!eventoes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{evento.eventoId.label}]]</th>
                            <th scope="col">[[#{evento.nombre.label}]]</th>
                            <th scope="col">[[#{evento.fechaInicio.label}]]</th>
                            <th scope="col">[[#{evento.fechaFin.label}]]</th>
                            <th scope="col">[[#{evento.ubicacion.label}]]</th>
                            <th scope="col">[[#{evento.esExterior.label}]]</th>
                            <th scope="col">[[#{evento.esGratis.label}]]</th>
                            <th scope="col">[[#{evento.logo.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="evento : ${eventoes}">
                            <td>[[${evento.eventoId}]]</td>
                            <td>[[${evento.nombre}]]</td>
                            <td>[[${evento.fechaInicio}]]</td>
                            <td>[[${evento.fechaFin}]]</td>
                            <td>[[${evento.ubicacion}]]</td>
                            <td>[[${evento.esExterior}]]</td>
                            <td>[[${evento.esGratis}]]</td>
                            <td>[[${evento.logo}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/eventos/edit/{eventoId}(eventoId=${evento.eventoId})}" class="btn btn-sm btn-secondary">[[#{evento.list.edit}]]</a>
                                    <form th:action="@{/eventos/delete/{eventoId}(eventoId=${evento.eventoId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{evento.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
