<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{resena.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{resena.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/resenas}" class="btn btn-secondary">[[#{resena.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('resena')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='resena', field='resenaId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='resena', field='texto', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='resena', field='fechaHora', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='resena', field='usuario', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='resena', field='evento', required=true, type='select')}" />
                <input type="submit" th:value="#{resena.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
